.dish-wrapper{
  padding: 0 24px;
  width: 65%;
}

.dish-group-title-container{
 background-color : #f8f5f2;
 border-radius: 2px 2px 0 0;
 border: 1px solid #f8f5f2;
 margin-top: 22px;
 height: auto;
 display: flex;
 flex-direction: column;
}

.header-img-container {
  display: block;
  width: auto;
  height: 150px;
  background-color: rgb(81, 104, 81);
}

.header-img-container img{
  max-width: 100%;
  max-height: 100%;
}

.dish-group-title-text{
  background-color:#f8f5f2;
  padding: 19px 16px;
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 600;
}

.dish-detail-wrapper{
  border: 1px solid #ebebeb;
  border-radius: 2px;
  margin: 8px 0;
  position: relative;
  padding: 16px;
  max-width: calc(100% - 40px);
  display: flex;
  text-align: left;
  flex-direction: row;
  transition: 1s ease;
}

.dish-detail-wrapper:hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 12px #ccc;
  background-color: rgb(207, 235, 241);
}

.dish-detail{
  height: 100%;
  display: flex;
  flex-direction: column;

}

.dish-name{
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #0a3847;
  margin: 0 0 4px;
  font-weight: 600;
}

.dish-detail{
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin: 0 0 10px;
  
}

.price{
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -.5px;
  color: #ff8000;
  margin: auto 0 0;
  }
