.grid-container{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-left: auto;
}

.grid-filter {
    display: none;
    float: left;
}

@media only screen and (min-width: 1004px) {
    .grid-filter {
        display: block;
        margin-bottom: 60px;
        padding: 0 0 0 32px;
        border: 0px solid black;
        width: calc(35% - 25px);
        float: left;
        margin-left: 20px;
        
    }
  }

.grid-restaurantList {
    width: 100%;
}