.grid-container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-left: 10%;
}

.grid-filter {
    width: 25%;
    border: 0px solid black;
}

.grid-restaurantList {
    width: 60%;
}